/* --- Variable --- */
:root {
  --c-bodyBackgroundColor: #1f1e1e;
  --c-containerBackgroundColor: #353434;
  --c-inputBackgroundColor: #434343;
  --c-btnColor: rgb(0,230,122);
  --c-btnBackgroundHover: rgb(0, 192, 102);
  --c-frontColor: #fff;
}

::placeholder {
  color: var(--c-frontColor);
}

/* --- Global --- */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* --- Body --- */
body {
  background: var(--c-bodyBackgroundColor);
  color: var(--c-frontColor);
}

.todo-container {
  background: var(--c-containerBackgroundColor);
  color: var(--c-frontColor);
  box-shadow: 1px 2px 2px 1px rgb(49, 49, 49);
}

.item input {
  border: none;
  padding: 3px 5px;
  outline: none;
  background-color: var(--c-inputBackgroundColor);
  /*font-size: 20px;
  */color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.add {
  padding-left: 50px;
}

.add-btn {
  background: var(--c-btnColor);
  color: var(--c-frontColor);
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  cursor: pointer;
}

.secondary-btn {
  background: var(--c-inputBackgroundColor);
  color: var(--c-frontColor);
  padding: 5px;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  cursor: pointer;
  width: fit-content;
}



/*  --- Add Section --- */
.add-section {
  /* background-color: red; */
  margin: 10px 0px;
  padding: 10px 0px;
}

.add-item {
  padding-top: 5px;
  padding-left: 30px;
  background: var(--c-inputBackgroundColor);
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 2px 1px rgb(43, 42, 42);
}

.item-text {}

.item-icon {
  align-items: center;
  margin-right: 30px;
}

.delete {
  color: red;
  font-size: 30px;
  margin-right: 30px;
  cursor: pointer;
}

.check {
  color: var(--c-btnColor);
  cursor: pointer;
  font-size: 30px;
}


/* --- Animation Part --- */
.item input:focus {
  outline: none;
  outline: 1px solid var(--c-btnColor);
}

.add-btn:hover {
  background: var(--c-btnBackgroundHover);
}

.check:hover {
  color: var(--c-btnBackgroundHover);
}

.delete:hover {
  color: rgb(218, 0, 0);
}



/* --- Toggle Animation --- */
.active {
  background-color: var(--c-btnColor);
  color: var(--c-frontColor);
}