/* --- Variable --- */
:root {
  --c-bodyBackgroundColor: #1f1e1e;
  --c-containerBackgroundColor: #353434;
  --c-frontColor: #fff;
}

/* --- Global --- */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* --- Body --- */
body {
  background: var(--c-bodyBackgroundColor);
  color: var(--c-frontColor);
}

.todo-container {
  background: var(--c-containerBackgroundColor);
  color: var(--c-frontColor);
  box-shadow: 1px 2px 2px 1px rgb(49, 49, 49);
}