/* --- Variable --- */
:root {
  --c-bodyBackgroundColor: #1f1e1e;
  --c-containerBackgroundColor: #353434;
  --c-inputBackgroundColor: #434343;
  --c-frontColor: #fff;
}

::placeholder {
  color: var(--c-frontColor);
}

/* --- Global --- */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* --- Body --- */
body {
  background: var(--c-bodyBackgroundColor);
  color: var(--c-frontColor);
}

.todo-container {
  background: var(--c-containerBackgroundColor);
  color: var(--c-frontColor);
  box-shadow: 1px 2px 2px 1px rgb(49, 49, 49);
}

.item input {
  border: none;
  padding: 3px 5px;
  /* outline: none; */
  background-color: var(--c-inputBackgroundColor);
  /*font-size: 20px;
  */color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}



/* --- Animation Part --- */
.item input:focus {
  outline: none;
  border: 1px solid rgb(0, 230, 122);
}